<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="pollingDuplex"
             type="System.ServiceModel.Configuration.PollingDuplexElement, System.ServiceModel.PollingDuplex"/>
      </bindingElementExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ClientWithPoolProofOfConcept.Web.Service.CommunicationServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentSessions="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
    <bindings>
      <customBinding>
        <binding name="CommunicationService">
          <binaryMessageEncoding/>
          <pollingDuplex maxPendingSessions="2147483647"
                         maxPendingMessagesPerSession="2147483647"
                         inactivityTimeout="02:00:00"
                         serverPollTimeout="00:05:00"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ClientWithPoolProofOfConcept.Web.Service.CommunicationServiceBehavior"
               name="ClientWithPoolProofOfConcept.Web.Service.CommunicationService">
        <endpoint address=""
                  binding="customBinding"
                  bindingConfiguration="CommunicationService"
                  contract="ClientWithPoolProofOfConcept.Web.Interface.ICommunicationService"/>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>
      </service>
    </services>

  </system.serviceModel>

</configuration>
